.rightSide-mini{
    position: relative;
    flex: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-left: 100px;
    /*width: auto;*/
}

.leftSide-mini{
    flex: 50%;
    /*display: -webkit-box;*/
    padding-right: 100px;
    width: auto;
}

.cart-item-container-mini{
    display: flex;
}

.product-img-mini{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border: solid 1px #d7d7d7;
}

.img-wrapper-mini{
    position: relative;
}

.plusBtn-mini{
    background-color: white;
    cursor: pointer;
    position: absolute;
    height: 30px;
    width: 30px;
    font-size: 25px;
    border-radius: 0;
    border: 1px solid #1D1F22;
    top: 0;
    right: 110%;
    /*z-index: 0;*/
}

.minusBtn-mini{
    background-color: white;
    cursor: pointer;
    position: absolute;
    height: 30px;
    width: 30px;
    font-size: 25px;
    border-radius: 0;
    border: 1px solid #1D1F22;
    top: 78%;
    right: 110%;
    /*z-index: 0;*/
}

.plusBtn-mini:hover, .minusBtn-mini:hover{
    background-color: #1D1F22;
    color: white;
}

.item-qty-mini{
    position: absolute;
    top: 35%;
    right: 120%;
    font-size: large;
}

.brand-txt-mini{
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 160%;
}

.name-txt-mini{
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 160%;
}

.price-txt-mini{
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 160%;
}

.radio-btn-cart-mini{
    display: none;
}

.radio-label-mini{
    border: solid 1px #282c34;
    padding: 3px 3px;
    width: auto;
    display: flex;
    font-size: 15px;
    cursor: not-allowed;
}

.radio-btn-cart-mini:checked + .radio-label-mini{
    background-color: #282c34;
    color: white;
}

.radio-btn-cart-group-container-mini{
    display: flex;
    width: auto;
}

.radio-cart-mini{
    padding: 5px;
    display: flex;
}

.colored-label-mini{
    border: solid 1px #3d4044;
    padding: 9px 25px;
    cursor: not-allowed;
}

.radio-btn-cart-mini:checked + .colored-label-mini{
    border: solid 3px black;
}

.miniCart-wrapper{
    font-family: Raleway, sans-serif;
}

@media (orientation: portrait) {
    .cart-item-container-mini{
        flex-direction: column;
        /*padding-right: 300px;*/
    }
    .rightSide-mini{
        justify-content: center;
        align-items: center;
    }
    .leftSide-mini{
        display: flex;
        flex-direction: column;
        padding-right: 0;
        align-self: center;
        justify-content: center;
        align-items: start;
    }
}