nav{
    background-color: white;
    width: 100%;
    height: 80px;
    display: flex;
}

.LeftSide{
    flex: 33%;
    display: flex;

}

.MiddleSide{
    flex: 33%;
    display: flex;
    /*display: inline-block;*/
    justify-content: center;
    align-items: center;
}

.RightSide{
    flex: 33%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 50px;
}

#hidden{
    display: none;
}

#cart-overlay{
    padding: 6px;
    background-color: white;
    position: absolute;
    right:30px;
    min-width: 200px;
    width: auto;
    z-index: 3;
    top: 80px;

    min-height: 2rem;
    overflow-y: scroll;
    max-height: 22rem;
}

.cart-overlay-cover{
    position: absolute;
    margin-top: 80px;
    overflow: hidden;
    background-color: black;
    width: 100%;
    height: 105%;
    opacity:20%;
    z-index: 2;
}

.MiniCart-btn{
    position: relative;
    font-size: 25px;
    cursor: pointer;
}

.cart-btn-badge{
    position: absolute;
    top: -15%;
    right: -20%;
    height: 15px;
    width: 15px;
    background-color: #282c34;
    border-radius: 50%;
    display: inline-block;
}

.cart-btn-badge-text{
    position: absolute;
    top: -70%;
    right: 30%;
    font-size: 10px;
    color: white;
    display: inline-block;
}

.active-tab{
    color: #5ECE7B;
    font-weight: 600;
    /*text-decoration: underline;*/
    /*text-underline: #5ece7b;*/
}

.nav-tabs-container{
    display: flex;
    font-family: Raleway, sans-serif;
    font-style: normal;
    font-size: 16px;
    line-height: 120%;

    /*justify-content: center;*/
    /*align-items: center;*/
}

.nav-tab-div{
    display: flex;
    padding: 15px;
}

.logo{
    width: 10%;
    /*height: 50%;*/
}

.currency-selector{
    cursor: pointer;
}

#currency-selector-box{
    position: absolute;
    top: 60px;
    /*right: calc(width/3);*/
    z-index: 3;
    box-shadow: 0px 4px 35px rgba(168, 172, 176, 0.19);
    padding: 2px;
    background-color: white;
}

.currency-option{
    cursor: pointer;
    font-family: Raleway, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 160%;
    padding: 15px;
}

.currency-option:hover{
    /*cursor: pointer;*/
    background-color: #1D1F22;
    color: white;
}

.top-footer{
    display: flex;
}

.top-left-footer{
    flex: 50%;
}

.top-right-footer{
    flex: 50%;
    display: flex;
    align-items: end;
    justify-content: flex-end;
}

.bottom-footer{
    display: flex;
}

.bottom-left-footer{
    flex: 50%;
}

.bottom-right-footer{
    flex: 50%;
    display: flex;
    align-items: end;
    justify-content: flex-end;
}

.checkOutBtn-mini{
    background-color: #5ece7b;
    color: white;
    border: none;
    height: 30px;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 120%;
    cursor: pointer;
}

.viewBagBtn{
    background-color: white;
    border: 1px solid #1D1F22;
    height: 30px;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 120%;
    cursor: pointer;
}

.checkOutBtn-mini:hover{
    opacity: 50%;
}

.viewBagBtn:hover{
    background-color: #1D1F22;
    color: white;
}

.currency-selector-btn-contanier{
    /*position: center;*/
    display: flex;
    padding-right: 50px;
}

.nav-menu-icon{
    display: none;
}

.phone-screen-menu{
    position: absolute;
    top: 80px;
    /*z-index: 3;*/
    background-color: white;
}

.all-tabs-contanier{
    display: flex;
}

@media (orientation: portrait) {
    .nav-menu-icon{
        display: flex;
        font-size: 40px;
        color: #1D1F22;
        padding-left: 10px;
        cursor: pointer;
    }

    .LeftSide{
        align-items: center;
    }

    .all-tabs-contanier{
        /*display: none;*/
    }
    #not-hidden-links{
        display: none;
    }
    #hidden-links{
        position: absolute;
        top: 80px;
        width: 100%;
        z-index: 3;
        background-color: white;
        flex-direction: column;
        align-items: center;
        box-shadow: 1px 100px 100px rgba(168, 172, 176, 0.59);
    }

    .logo{
        width: 40px;
    }

    #cart-overlay{
        /*position: absolute;*/
        padding: 9px;
        width: 0;
        right:0;
        min-width: 100%;
        /*width: auto;*/
        z-index: 3;
        top: 80px;

        min-height: 2rem;
        overflow-y: scroll;
        max-height: 22rem;
    }

    .miniCart-wrapper{
        padding: 10px;
    }

    .minicart-footer{
        width: 100%;
        padding: 5px;
    }
}
