.pdp-page{
    width: 100%;
    display: flex;
    justify-content: center;
    font-family: 'Raleway', sans-serif;
}

.pdp-container{
    width: 100%;
    display: flex;
}

.all-images-container{
    flex: 70%;
    display: flex;
    gap: 50px;
}

.main-image-container{
    display: flex;
    justify-content: center;
    align-items: start;
}

.small-images-container{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: flex-start;
    gap: 10px;
}

.product-details-container{
    flex: 30%;
    margin-right: 30px;
}

.small-image{
    cursor: pointer;
    height: 100px;
    width: 100px;
    object-fit: cover;
}

.small-image:hover{
    opacity: 70%;
    border: 3px solid #282c34;
}

.main-image{
    height: 700px;
    width: 85%;
    object-fit: contain;
}

.radio-label{
    border: solid 1px #282c34;
    padding: 4px 4px;
    cursor: pointer;
}

.radio-btn{
    display: none;
}

.radio-btn:checked + .radio-label{
    /*border: solid 1px #282c34;*/
    /*padding: 1px;*/
    background-color: #282c34;
    color: white;
}

.radio-container{
    padding: 3px;
}

.radio-group-container{
    display: flex;
}

.colored-label-pdp{
    border: solid 1px #3d4044;
    padding: 9px 25px;
    cursor: pointer;
}

.colored-label-pdp:hover{
    opacity: 50%;
}

.radio-btn:checked + .colored-label-pdp{
    border: solid 3px #282c34;
}

.addToCart-btn{
    cursor: pointer;
    width: 100%;
    height: 45px;
    background-color: #5ece7b;
    color: white;
    border: none;
}

.outOfStock-btn{
    cursor: pointer;
    width: 100%;
    height: 45px;
    /*background-color: #5ece7b;*/
    /*color: white;*/
    /*border: none;*/
    border: solid 1px #282c34;
    cursor: not-allowed;
}

.brand-pdp{
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 27px;

}

.product-name-pdp{
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 27px;

}

.attribute-name-pdp{
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 18px;

}

.price-title-pdp{
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 18px;
}

.price-number-pdp{
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 18px;

}

@media (orientation: portrait) {

    .pdp-container{
        display: flex;
        flex-direction: column;
        padding: 9px;
    }

    .all-images-container{
        flex-direction: column-reverse;
    }
    .small-images-container{
        flex-direction: row;
        /*width: 100%;*/
        min-width: 10%;
        overflow-y: scroll;
        max-width: 90%;
    }
    .small-image{
        cursor: pointer;
        height: 70px;
        width: 70px;
        object-fit: cover;
    }
    .product-details-container{
        margin-right: 0;
    }

    .main-image{
        height: 300px;
    }

    .pdp-page{
        padding: 9px;
    }

    .addToCart-btn{
        width: 90%;
    }
}